*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.woff") format("woff"),
         url("../fonts/OpenSans-Regular.ttf") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.woff") format("woff"),
         url("../fonts/OpenSans-Bold.ttf") format("ttf");
    font-weight: bold;       
}

body {
    font-family: OpenSans, sans-serif;
    width: 100%;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.popup-wrapper {
    top: 10%;
    left: 6%;
    right: 0;
    z-index: 1000;
    position: absolute;
    width: 88%;
    height: 85vmax;
    padding: 6%;
    background-color: #ffffff;
}

.close {
    top: -35px;
    right: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: transparent;
    border: 0;
}

.close::before, .close::after {
    content: "";
    display: block;
    width: 27px;
    height: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
}

.close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("../svg/arrows.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: right 10px center;
}

.group-text {
    font-size: 13px;
    line-height: 1.2;
    color: #000000;
    display: block;
    padding: 5px;

}

.radio-group-text {
    font-size: 13px;

    display: inline-block;

}

.radio-group-text::before {
    content: "";
    margin-right: 8px;

    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;

    background-image: url("../svg/empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.radio:checked ~ .radio-group-text::before {
    background-image: url("../svg/circle.svg");
}

.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.label-radio {
    padding: 0 20px;
}

.group-textarea {
    width: 100%;
    min-height: 20vmax;
    background-color: #f4f7f6;
    border: 0;
    padding: 15px;
}

.group-textarea:focus {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
}

.header {
    background-image: url(../images/banner1-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    position: relative;
}

.header::after, .trend::after {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header-container {
    position: relative;
    z-index: 1;
    height: 100vmax;
    padding: 0 6%;
}

.header-menu {
    display: flex;
    flex-direction: column;
}

.menu-list {
    display: none;
    background-color: #000000;
    opacity: 0.6;
    min-width: 70px;
    padding: 5px;

    position: relative;
    left: -35px;
}

.menu-list-link {
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
}

.menu-list-link:hover {
    text-decoration-line: underline;
}

.menu {
    position: relative;
    display: block;
    margin-left: calc(100% - 23px);
    margin-top: 25px;
}

.menu-btn {
    border: 0;
}

.menu-btn::after, .menu-btn::before, .menu::before {
    content: "";
    display: block;
    width: 23px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 7px;
}

.menu::before {
    top: 14px;
}

.menu-btn::before {
    top: 0;
}

.menu:hover .menu-list {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.logo {
    order: 2;
    width: 75vmin;
    margin: 25vmax auto 0;
}

.header-title {
    padding: 40px 0;
}

.title {
    font-size: 7vmin;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.section-title::after, .newposts-title::after, .subscribe-title::after, .tags-title::after, .categories-title::after, .shop-title::after, .popup-title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin: 10px auto;
}

.trends, .sidebar, .search-section, .subscribe, .tags, .categories, .shop, .footer {
    margin-top: 40px;
}

.trends-wrapper, .subscribe-form, .tags-list, .categories-list, .shop-wrapper {
    margin-top: 30px;
}

.section-title, .newposts-title, .subscribe-title, .tags-title, .categories-title, .shop-title, .popup-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
}

.trend {
    height: 230px;
    margin-top: 5px;
    padding: 0 6% 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;

    display: flex;
    align-items: flex-end;
}

.trend-header {
    position: relative;
    z-index: 1;
    padding: 20px;
    border: 3px solid #b59f5b;
}

.trend-garden {
    background-image: url("../images/garden-desktop.jpg");   
}

.trend-cheese {
    background-image: url("../images/cheese-desktop.jpg");
}

.trend-trek {
    background-image: url("../images/trek-desktop.jpg");
}

.trend-lemon {
    background-image: url("../images/lemon-desktop.jpg");
}

.trend-header-list, .postlist-blok-category-list {
    display: flex;
    margin-top: 5px;
}

.trend-header-item, .postlist-blok-category-item {
    margin-right: 10px;
}

.trend-header-link, .postlist-blok-category-link {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b59f5b;
}

.trend-header-link:hover, .postlist-blok-category-link:hover, .product-link:hover {
    text-decoration-line: underline;
}

.trend-header-title-link {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
}

.content-wrapper, .footer-container {
    margin-top: 40px;
    padding: 0 6%;
}

.postlist-blok:nth-child(n + 2) {
    margin-top: 35px;
}

.postlist-blok-img {
    width: 100%;
}

.postlist-blok-title {
    margin: 10px 0;
}

.postlist-blok-link {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
    line-height: 20px;
}

.postlist-blok-link:hover, .categories-list-link:hover {
    color: #b59f5b;
}

.postlist-blok-data, .newpost-time {
    font-size: 12px;
    color: #888888;
}

.postlist-blok-autor {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
}

.postlist-text {
    padding: 20px 0;
    border-bottom: 3px solid #eeeeee;
    font-size: 14px;
    color: #0f0d0e;
}

p:not(:first-child) {
    margin-top: 10px;
}

.newpost {
      display: flex;
      margin-top: 25px;
}

.newpost-title-link {
      font-size: 14px;
      font-weight: bold;
      color: #000000;
      text-transform: uppercase;
}

.newpost-img {
      display: block;
      width: 65px;
      height: 65px;
      margin-right: 10px;
}

.search {
    display: flex;
    position: relative;
  
    -webkit-appearance: none;
    -moz-appearance: none;
}
  
.search-label {
    width: calc(100% - 48px);
}
  
.search-input, .select {
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    padding: 8px 12px;
    border: 0;
}

.search-input:focus, .subscribe-input:focus, .select:focus {
    background-color: #f4f7f6;
    border: 1px solid #b59f5b;
}
  
.button-search {
    width: 48px;
    height: 48px;
    border: 0;
    position: absolute;
    right: 0;
  
    font-size: 13px;
    color: #000000;
  
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    background-color: #b59f5b;
}

.button-search:hover, .subscribe-button:hover, .product-button:hover, .enter-btn:hover {
    background-color: #323232;
}

.subscribe-input {
    width: 100%;
    height: 48px;
    background-color: #f4f7f6;
    border: 0;
    padding: 20px;
  
    font-size: 13px;
    color: #000000;
}
  
.subscribe-button, .enter-btn {
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    text-transform: uppercase;
    border: 0;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
  
    margin-top: 15px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
}
  
.tags-item {
    border: 3px solid #eeeeee;
    padding: 0 5px;
    margin: 4px;
}

.tags-item:hover {
    border: 3px solid #b59f5b;
}
  
.tags-link {
    font-size: 12px;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase; 
}

.categories-list-link {
    font-size: 14px;
    line-height: 47px;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: capitalize;
}
  
.categories-list-item {
    border-bottom: 1px solid #eeeeee;
}
  
.categories-index {
    font-size: 12px;
    line-height: 1.2;
    color: #b59f5b;
    font-weight: 700;
}

.product {
    margin-top: 20px;
}

.product-img {
    width: 100%;
    padding: 15px;
}

.product-content {
    padding: 0 15px 30px;
    position: relative;
}

.product-content::after {
    content: "";
    display: block;
    width: 100%;
    height: 120%;
    border: 3px solid #b59f5b;

    position: absolute;
    bottom: 5px;
    left: calc(50% - 100%/2);
}

.product-prices {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.product-price {
    color: #0f0d0e;
    font-weight: bold;
}

.product-price-old {
    font-size: 14px;
    text-decoration: line-through;
}

.product-price-new {
    font-size: 20px;
}

.product-button {
    display: block;
    margin-left: auto;

    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;


}

.product-title {
    font-size: 17px;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
}

.product-description {
    font-size: 15px;
    line-height: 1.2;
    color: #0f0d0e;

    padding-top: 5px;
}

.product-description-link {
    color: #0f0d0e;
}

.product-link {
    color: #b59f5b;
}
 
.socials {
    background-color: #f4f7f6;
}
.socials-list {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.socials-link {
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    background-color: #f4f7f6;
    padding: 25px;
}
  
.socials-link-twitter {
    background-image: url("../svg/004-twitter.svg");
}
  
.socials-link-pinterest {
    background-image: url("../svg/001-pinterest.svg");
}
  
.socials-link-facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}
  
.socials-link-instagram {
    background-image: url("../svg/005-instagram.svg");
}
  
.socials-link-tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyrights {
    margin: 40px 0;
    padding: 10px;
    text-align: center;
}
  
.copyrights-link {
    font-size: 12px;
    line-height: 1.2;
    color: #999999;
    font-weight: 700;
}  


.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}



