*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.woff") format("woff"),
         url("../fonts/OpenSans-Regular.ttf") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.woff") format("woff"),
         url("../fonts/OpenSans-Bold.ttf") format("ttf");
    font-weight: bold;       
}

body {
    font-family: OpenSans, sans-serif;
    width: 100%;
    font-size: 5vmin;
}

.header {
    background-image: url(../images/banner1-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header-container {
    position: relative;
    z-index: 1;
    height: 100vmax;
    padding: 0 6%;
}





